# Ignorar carpetas y archivos del sistema
.AppData/
.Datos de programa/
.Entorno de red/
.Menú Inicio/
.Mis documentos/
.Plantillas/
.Reciente/
.SendTo/
.Favorites/
.Videos/
.Contacts/
.Tracing/
.Saved Games/
.Links/
.OneDrive/
.Pictures/
.Documents/
.Music/
.3D Objects/

# Ignorar configuraciones específicas del sistema y usuarios
NTUSER.DAT*
*.swp
.viminfo

# Ignorar entornos de desarrollo
.vscode/
.idea/
*.log
*.tmp

# Ignorar datos temporales y de caché
.cache/
.anaconda/
.spyder-py3/
.virtualenvs/
.node_modules/

